<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"><strong>WE'RE ALIVE ON DISCORD!</strong></h2>
                <hr class="light">
                <p class="text-faded">Yep, we're still alive and mostly kicking.</p>
                <p class="text-faded">Come <a href="https://discord.gg/k5CPa7M"><strong>say hello on Discord</strong></a>, chat with the old gang and </br> see pictures of suicide_mission's adorable kiddo.</p>
                <a href="https://discord.gg/k5CPa7M" class="btn btn-default btn-xl">Join us on Discord!</a>
            </div>
        </div>
    </div>
</section>
