<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h2>COMING SOON*</h2>
            <h1>HLFALLOUT, <s>V2</s> <s>V3</s> V4?</h1>
            <hr>
            <p><strong>Due to the <a href="https://www.pcgamer.com/software/platforms/oh-good-discords-age-verification-rollout-has-ties-to-palantir-co-founder-and-panopticon-architect-peter-thiel/">upcoming ID verification requirements</a> coming to Discord, we have some emergency forums created as a backup. Nope, these aren't going to be permanent.</strong></p>
            <a href="https://forums.hlfallout.net" class="btn btn-primary btn-xl page-scroll">Emergency Forums</a>
        </div>
    </div>
</header>
